.kushal {
  background-color: green ;
  width: fit-content;
  padding: 25px;
  border-radius: 25px;
}
.Props{
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
  border-radius: 12px;
padding: 12px;
}
.Props button{
  border: none;
  padding: 12px;
 color: #333;
 margin-left: 120px;
}
.Props button :hover{
  cursor: pointer;
}
.Props h1{
  margin-left: 20%;
}